.heading {
	color: #0D0630;
	font-size: 25px;
	text-align: center;
	
}

.myclass {
	width: 350px;
	height: 250px;
	margin: 15px;
	opacity: 0.5;
}

.myclass:hover {
	opacity: 1;
}


.headingbox {
	background-color: #3d5075;
	height: 100%;
	padding-top: 21px;
}

.button {
	height: 85px;
	width: 85px;
        margin: 10px;
        background-color: #3d5075;
        color: #0D0630;
        border-radius: 5px;
        border: none;
}

.buttonbox {
	float: left;
	width: 100%;

}

.imagebox {
	float: left;
}

body {
        background-color: #8BBEB2;
}
